@model ECommerce.WebUI.Domain.UserChangePassword
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Business Login Form Responsive Widget Template :: w3layouts</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Business Login Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta-Tags -->
    <!-- css files -->
    <link href="~/loginTemplate/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/loginTemplate/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- //css files -->
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- //google fonts -->
</head>
<body>

    <div class="signupform">
        <div class="container">
            <!-- main content -->
            <div class="agile_info">
                <div class="w3l_form">
                    <div class="left_grid_info">
                        <img src="~/loginTemplate/images/image.jpg" alt="" />
                    </div>
                </div>
                <div class="w3_info">
                    <h2>Change Password</h2>
                    <p>Fill in the required fields</p>
                    <form method="post">
                        @if (TempData.ContainsKey("Alert"))
                        {
                            <div class="alert alert-danger" role="alert">@TempData["Alert"]</div>
                        }
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" placeholder="Enter Your Email" required="" class="form-control" name="Email">
                            @Html.ValidationMessageFor(x => x.Email, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group">
                            <label>Old Password</label>
                            <input type="password" placeholder="Enter Old Password" required="" class="form-control" name="OldPassword">
                            @Html.ValidationMessageFor(x => x.OldPassword, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="Password" placeholder="Enter New Password" required="" class="form-control" name="NewPassword">
                            @Html.ValidationMessageFor(x => x.NewPassword, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="Password" placeholder="Confirm New Password" required="" class="form-control" name="ConfirmPassword">
                            @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @style = "color:red" })
                        </div>
                        <button class="btn btn-danger" type="submit">Change Password</button>
                    </form>
                    <p class="account1">Do you already have an account ? <a href="~/Security/Login">Login</a></p>
                </div>
            </div>
            <!-- //main content -->
        </div>
        <!-- footer -->
        <!-- footer -->
    </div>

</body>
</html>